@page "/"
@inject HttpClient HttpClient

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*<table>
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>*@
<p>
    @foreach (var item in reqres)
   {
       <p>
       @item.Datum.id
       </p>
       <p>
       @item.Datum.email
       </p>
       <p>
       @item.Datum.first_name
       </p>
       <p>
       @item.Datum.last_name
       </p>
       <p>
       @item.Datum.avatar
       </p>
   }
</p>

@code{
    List<Generic> reqres = new List<Generic>();

    protected override async Task OnInitializedAsync()
    {
        await HttpClient.GetStringAsync("api/reqres");
    }

    public class Generic
    {
        public Datum Datum { get; set; }
        public Root Root { get; set; }
        public Support Support { get; set; }
    }

    public class Datum
    {
        public int id { get; set; }
        public string email { get; set; }
        public string first_name { get; set; }
        public string last_name { get; set; }
        public string avatar { get; set; }
    }

    public class Root
    {
        public int page { get; set; }
        public int per_page { get; set; }
        public int total { get; set; }
        public int total_pages { get; set; }
        public List<Datum> data { get; set; }
        public Support support { get; set; }
    }

    public class Support
    {
        public string url { get; set; }
        public string text { get; set; }
    }
}
